SEPOLIA_RPC_URL=
PRIVATE_KEY=
ETHERSCAN_API_KEY=
SEMAPHORE_CONTRACT_ADDRESS=
GOVERNANCE_CONTRACT_ADDRESS=
RELAYER_PRIVATE_KEY=
RELAYER_PORT=3001

VITE_GOVERNANCE_ADDRESS=
VITE_GOVERNANCE_DEPLOY_BLOCK=
VITE_RELAYER_URL=http://localhost:3001
